.signup_upper{
    background: #1c1a1a8c;
    /* position: relative;; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 100px 0px; */
}
 .img{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100vw;
    height:100vh;
    z-index: -1;
 }
 .img img{
    height: 100%;
    width: 100%;
    z-index: -1;
 }    
.signup_inner{
    /* position: relative; */
    width: 70%;
    height: 480px;
    display: flex;
    border:10px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 30px;
    /* margin-top: 50px; */
    
    
    

}


.signup_left{
    width: 40%;
    border-right: 10px sloid rgb(22, 21, 21);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    

}

.signup_right{
    width: 60%;
    border-left: 10px solid black;
    margin-top: 0px;
    position: relative;
    /* padding: 30px 20px 0px 20px; */

}
.corousal img{
height: 230px;
width: 90%;
border-radius: 20px;
}
.logo_wrapper{
   
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.logo {
    height :80px;
    width: 100px;
   
}
.logo img{
    height: 100%;
    width: 100%;
    
}
.slogan{
    /* margin:0px 20px; */
    color: #9ba79b;
    width: 60%;
    font-weight: 600;
    font-family: cursive;

    /* margin-left: 20px; */
}
.form{
    margin: 20px;
}
.name ,.emp{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

}
.fname,.lname,.phone,.email{
    width: 48%;
    position: relative;
}
.pass ,.cf{
    position: relative;
    padding: 10px 0px;
}
.lname{
    width: 48%;
    position: relative;
}


.signup_right input
{
    background-color :transparent;
    color: #9ba79b ;
    
}

.signup_right input:focus
{
    background-color :transparent;
    color:  #9ba79b;

}


.signup_right  label
{
    color: #9ba79b !important;

}


.signup_right  input + label:after {
   background: transparent !important;
   color: #9ba79b !important;
}

.signup_right input:focus + label {
    color: #9ba79b  !important;
    font-size: 14px  !important;
  }
  .msg{
    color:red;
    position: absolute;
    right:0px;
    top:-16px;
    font-size: 10px;
  }
  .bottom{
    
    position: absolute;
    /* background-color: black; */
bottom: 0px;
right: 0px;
left: 0px;
border-top: 10px solid black;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
  }

  .submit{

    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    width: 30%;
    /* padding: 0px 5px; */
}
.inactive{
    background-color: #9ba79b;;
  text-align: center;
    color:#0f0f0f;
    border-radius: 10px;
    font-size: 16px;
    cursor: not-allowed;
  padding: 7px 45px ;
    z-index: 1111 ; 
}
.active{
    background-color: #43c054;;
  text-align: center;
    color:#0f0f0f;
    border-radius: 10px;
    font-size: 16px;
    cursor: not-allowed;
  padding: 7px 45px ;
    z-index: 1111 ; 
}
.head{
    /* position: absolute; */
    /* background-color: red; */
    
    width: 70%;
    margin-bottom: 30PX;
    color: #9ba79b;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.hello{
    /* width: 30%; */
    background-color: transparent;
   margin:0px 30px
}
.hello img{
    height: 60px;
    width: 60px;
    background-color: transparent;
}

.hello1{
  
    background-color: transparent;
}
.hello1 img{
    height: 60px;
    width: 600px;
    background-color: transparent;
}
.signin{
    /* padding-right: 30px; */
    color:#9ba79b
    
}
.link{
    margin:0px 5px 0px 10px;
}